html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #DADAC0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.header {
  text-align: center;
  text-decoration: underline;
}

.level-name {
  text-align: center;
}

.main {
  margin: 5px;
  width: 100%;
  height: 100%;
  display: flex;
}

.main.container {
  width: 50%;
  padding: 10px;
}

.button.execute {
  border: 2px solid #000;
  background-color: #fff;
  width: 150px;
  height: 50px;
}

.button.execute.victory {
  background-color: green;
}

.program-result-message {
  padding-left: 20px;
  width: 100%;
  color: black;
}

.program-result-message.victory {
  font-weight: bold;
  color: green;
}

.command.list {

}

.command {
  color: #000;
}

.command.name {
  font-weight: bold;
}
